<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    <!-- 
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">Di0bPWfw</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/boese</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        -->
            <!-- Drop and re-create all database on startup -->
        <property name="hibernate.hbm2ddl.auto">create</property>
        <!-- SQL-Datei die beim Start ausgeführt wird um Default-Werte einzutragen -->
        <property name="hibernate.hbm2ddl.import_files">initial_data.txt</property>

       
       
        <mapping resource="Group.hbm.xml" />
        <mapping resource="DeviceComponent.hbm.xml" />
        <mapping resource="HistoryLogConnector.hbm.xml" />
        <mapping resource="Service.hbm.xml" />
        <mapping resource="DeviceGroup.hbm.xml" />
        <mapping resource="HistoryLogRule.hbm.xml" />
        <mapping resource="Rule.hbm.xml" />
        <mapping resource="LogRule.hbm.xml" />
        <mapping resource="DeviceComponenteReplace.hbm.xml" />
        <mapping resource="LogDeviceComponent.hbm.xml" />
        <mapping resource="Device.hbm.xml" />
        <mapping resource="Unit.hbm.xml" />
        <mapping resource="GroupZone.hbm.xml" />
        <mapping resource="Component.hbm.xml" />
        <mapping resource="User.hbm.xml" />
        <mapping resource="HistoryLogDeviceComponent.hbm.xml" />
        <mapping resource="LogConnector.hbm.xml" />
        <mapping resource="Connector.hbm.xml" />
        <mapping resource="GroupUser.hbm.xml" />
        <mapping resource="Zone.hbm.xml" />
        <mapping resource="DeviceComponentRule.hbm.xml" />
        <mapping resource="RepeatRule.hbm.xml" />
        <mapping resource="ToDo.hbm.xml" />
    </session-factory>
</hibernate-configuration>
