<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" name="example-config">
    <Properties>
        <Property name="VERBOSE">%-5level %d [%t] %c:%M(%L): %m%n</Property>
        <Property name="PATTERN">%-5level %d %m%n</Property>
    </Properties>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
    <!-- <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/> -->
            <PatternLayout pattern="${PATTERN}"/>
        </Console>
<!--         <File name="Log_File" filename="debug.txt"> -->
<!--             <PatternLayout pattern="${PATTERN}"/> -->
<!--         </File> -->
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="STDOUT" level="INFO"/>
            <AppenderRef ref="Log_File"/>
        </Root>
    </Loggers>
</Configuration>