<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/boese</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping resource="de/bo/aid/boese/model/Group.hbm.xml" />
        <mapping resource="de/bo/aid/boese/model/DeviceComponent.hbm.xml" />
        <mapping resource="de/bo/aid/boese/model/HistoryLogConnector.hbm.xml" />
        <mapping resource="de/bo/aid/boese/model/Service.hbm.xml" />
        <mapping resource="de/bo/aid/boese/model/DeviceGroup.hbm.xml" />
        <mapping resource="de/bo/aid/boese/model/HistoryLogRule.hbm.xml" />
        <mapping resource="de/bo/aid/boese/model/Rule.hbm.xml" />
        <mapping resource="de/bo/aid/boese/model/LogRule.hbm.xml" />
        <mapping resource="de/bo/aid/boese/model/DeviceComponenteReplace.hbm.xml" />
        <mapping resource="de/bo/aid/boese/model/LogComponent.hbm.xml" />
        <mapping resource="de/bo/aid/boese/model/Device.hbm.xml" />
        <mapping resource="de/bo/aid/boese/model/Unit.hbm.xml" />
        <mapping resource="de/bo/aid/boese/model/GroupZone.hbm.xml" />
        <mapping resource="de/bo/aid/boese/model/Component.hbm.xml" />
        <mapping resource="de/bo/aid/boese/model/User.hbm.xml" />
        <mapping resource="de/bo/aid/boese/model/HistoryLogComponent.hbm.xml" />
        <mapping resource="de/bo/aid/boese/model/LogConnector.hbm.xml" />
        <mapping resource="de/bo/aid/boese/model/Connector.hbm.xml" />
        <mapping resource="de/bo/aid/boese/model/GroupUser.hbm.xml" />
        <mapping resource="de/bo/aid/boese/model/Zone.hbm.xml" />
    </session-factory>
</hibernate-configuration>
